extends layout

block content
  if user
    h1 Welcome Back #{ user.name }
    p Membership Status = #{ user.membership }
    if (user.membership !== "member")
      a(href="/sign-up-member") Upgrade membership
    a(href="/new-message") Create New Message
    a(href="/log-out") LOG OUT
  else
    h1 Please log in
    form(method="POST", action="/log-in")
      .form-group
        label(for="username") User name
        input#username.form-control(
          type="text",
          name="username",
          placeholder="User name",
          required="true"
        ) 
      .form-group
        label(for="password") Password
        input#password.form-control(
          type="password",
          name="password",
          required="true"
        )

      button.btn-submit(type="submit") Submit
