extends layout

block content
  h1 Upgrade Into Membership
  form(method="POST", action="")
    .form-group
      label(for="secret-code") Enter The Secret Passcode:
      input#secret-code.form-control(
        type="text",
        name="secret-code",
        placeholder="Secret Code",
        required="true"
      )
    button.btn-submit(type="submit") Submit
    if errors
      ul
        each error in errors
          li= error.msg
