extends layout

block content
  main 
    .generic-container
      h1 Sign Up Form
      form(method="POST", action="")
        .form-group
          label.form-group__label(for="firstname") First name
          span :
          input#firstname.form-group__input(
            type="text",
            name="firstname",
            placeholder="First name",
            required="true"
          )
        .form-group
          label.form-group__label(for="lastname") Last name
          span :
          input#lastname.form-group__input(
            type="text",
            name="lastname",
            placeholder="Last name",
            required="true"
          )
        .form-group
          label.form-group__label(for="username") Username
          span :
          input#username.form-group__input(
            type="text",
            name="username",
            placeholder="Username",
            required="true"
          )
        .form-group
          label.form-group__label(for="password") Password
          span :
          input#password.form-group__input(
            type="password",
            name="password",
            required="true"
          )
        .form-group
          label.form-group__label(for="confirm-password") Confirm Password
          span :
          input#password.form-group__input(
            type="password",
            name="confirm-password",
            required="true"
          )
        button.btn-submit(type="submit") Submit

      if errors
        ul
          each error in errors
            li= error.msg
